    .title-plus-link{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
        margin-right: 40px;
        font-family: Arial, Helvetica, sans-serif;

    }
    .back-box{
        display: flex;
        height: 100%;
        width: 100%;
        background-color: lightgray;
        margin: 0;
        margin-top: 20px;
        padding: 0;
    }
    .centered-me-box{
        display: flex;
        height: 100px;
        width: 800px;
        background-color: white;
        margin-top: 400px;
        margin-left: auto;
        margin-right: auto;
        
    }
    .intro-content{
        justify-content: left; /* Center vertically */
        align-items: center; /* Center horizontally */
    }
    .intro-img{
        justify-content: right; /* Center vertically */
        align-items: center; /* Center horizontally */
        height: 100px;
        width: 100px;
    }

    .title{
        
        font-weight: bolder;
        font-size: 50px;
    }
    .links{
        text-align: right;
        font-size: 20px;
        font-weight: bold;

    }
    .links a {
        margin-right: 30px;
    }

    a:link {
    text-align:right;
    display: inline-block;
    text-decoration: none;
    }

    a:visited {
    text-align:right;
    display: inline-block;
    color: black;
    text-decoration: none;
    }

    a:hover {
    text-align:right;
    display: inline-block;
    text-decoration: none;
    color: black;
    }

    a:active {
    text-align:right;
    display: inline-block;
    text-decoration: none;
    color: black;
    }