    .title-plus-link{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
        margin-right: 40px;
        font-family: Arial, Helvetica, sans-serif;

    }

    .back-box{
        display: flex;
        height: 600px;
        width: 100%;
        background-color: lightgray;
        margin: 0;
        margin-top: 20px;
        padding: 0;
    }
    .progress-container {
        width: 100%;
        border-radius: 5px; /* Round the corners of the container */
        margin-bottom: 20px;
    }

    /* Style the progress bar */
    .progress-bar {
        width: 50%; /* Set the width to represent the progress (e.g., 50% for halfway) */
        height: 10px;
        background-color: #4CAF50; /* Set the color of the progress bar */
        border-radius: 5px; /* Round the corners of the progress bar */
    }
    .flex-me-container {
        display: flex;
        flex-direction: column; /* Arrange items vertically */
        justify-content: center; /* Center items vertically */
        align-items: center; /* Center items horizontally */
        height: 250px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 200px;
    }
    .secondary-container{
        display: flex;
        background-color: white;
        justify-content: space-between;
        margin-top: 0px;
        height: 200px;

    }
    .left-title{
        font-size: 45px;
        margin-top: 150px;
        margin-left: 400px;
        justify-content: center;
    }
    .left-subtitle{
        font-size: 25px;
        color: black;
    }
    .right-title{
        font-size: 45px;
        margin-top: 150px;
        margin-right: 300px;
        justify-content: center;
    }
    .right-subtitle{
        font-size: 20px;
        color: black;
    }
    .right-sub-paragraph{
        font-size: 20px;
        margin-bottom: 0px;
    }
    /* Style the title element */
    .name-title {
        font-size: 50px;
        font-family: Georgia, serif;
        margin-bottom: 10px; /* Add space between title and subtitle */
    }

    /* Style the subtitle element */
    .subtitle {
        font-size: 30px;
        color: orangered;
        margin-bottom: 30px;
    }
    .subtitle-desc{
        font-size: 20px;
        color:black;
    }

    .title{
        
        font-weight: bolder;
        font-size: 50px;
    }
    .links{
        text-align: right;
        font-size: 20px;
        font-weight: bold;

    }
    .links a {
        margin-right: 30px;
    }

    a:link {
    text-align:right;
    display: inline-block;
    color: black;
    text-decoration: none;
    }

    a:visited {
    text-align:right;
    display: inline-block;
    color: black;
    text-decoration: none;
    }

    a:hover {
    text-align:right;
    display: inline-block;
    text-decoration: none;
    color: black;
    }

    a:active {
    text-align:right;
    display: inline-block;
    text-decoration: none;
    color: black;
    }